header {
    height: 65px;
    background-color: #00F;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #000;
}
.menu{
    display: flex;
    flex-direction: row;
    background-color: #FFF;
    align-items: center;
}
ul{
    display: flex;
}
li {
    padding: 10px;
    background-color: #0FF;
    margin: 10px;
}